<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Roles: Teacher, Student, separated by comma -->
    <add key="Roles" value="" />
    <add key="Base_URL" value="https://auth.qa.edgenuity.com/Login/Login/Educator" />
    <!-- Browsers: Chrome, IExplorer, Firefox -->
    <add key="Browser" value="Chrome" />
    <add key="Remote" value="false" />
    <add key="Logger" value="false" />
    <add key="Sleep" value="false" />
    <add key="Educator_Username" value="Chetanadmin" />
    <add key="Educator_Password" value="Admin" />
  </appSettings>
  
</configuration>